script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js"
#app
= javascript_include_tag webpack_asset_path('main.js'), 'data-turbolinks-track': 'reload'
javascript:
  console.log('init Onesignal');
  console.log(OneSignal);
  OneSignal.push(['init', {
    appId: '71f4dc03-743d-4995-8755-58d74502ecf9',
    autoRegister: true
  }]);
