#fb-root
script src="https://connect.facebook.net/ja_JP/all.js"
script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js"
link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"
link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
#app
javascript:
  FB.init({
    appId: "#{ENV['FACEBOOK_APP_ID']}", ///// ← 解説を参照 /////
    status: true, // check login status
    cookie: true, // enable cookies to allow the server to access the session
    xfbml: true  // parse XFBML
  });

  OneSignal.push(['init', {
    appId: "#{ENV['ONESIGNAL_APP_ID']}",
    autoRegister: true
  }]);
= javascript_include_tag webpack_asset_path('main.js'), 'data-turbolinks-track': 'reload'
